<!-- templates/add.html -->

{% extends "base.html" %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.8/sjcl.min.js" integrity="sha256-nIoG9XIePM1QNttI6KAGLYGNxc4DNinxxmOZW0/Z7uA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha256-Is0XNfNX8KF/70J2nv8Qe6BWyiXrtFxKfJBHoDgNAEM=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha256-6sZs7OGP0Uzcl7UDsLaNsy1K0KTZx1+6yEVrRJMn2IM=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        function encrypt_data(){
            
            var password = "xyz"
            do {
                password = prompt("Enter encryption key");
                var password_confirm = prompt("Enter encryption key (again)");
            } while (password != password_confirm);
            simplemde.value(sjcl.encrypt(password, simplemde.value()));
            return true;
        }
    </script>
    <title>TRYG | Add a journal entry</title>
{% endblock %}

{% block content %}
<div class="column is-12">
    <h3 class="title">Add a Journal Entry</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/add" name="journal_form" id="journal_form">
            {% if "jid" in context %}
            <div class=field>
                <div class="control">
                    <input class="input" type="hidden" name="jid" id="jid" value="{{ context.jid }}">
                </div>
            </div>
            {% endif %}
            <div class="field">
                <div class="control">
                    <label for="journal-date">Journal Date</label>
                    <input class="input is-large" type="date" name="journal-date" id="journal-date" placeholder="Journal Date" {% if "journal_date" in context %} value="{{ context.journal_date }}" {% endif %}>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="journal-title" id="journal-title" placeholder="Journal Title" autofocus="" {% if "journal_title" in context %} value="{{ context.journal_title }}" {% endif %}>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <textarea class="textarea is-medium" name="journal-content" id="journal-content" placeholder="Jot down your thoughts..." rows=20>{% if "journal_content" in context %}{{ context.journal_content }}{% endif %}</textarea>
                </div>
            </div>
            <button class="button is-block is-info is-large" id="add_button" onclick="javascript:encrypt_data()">Add</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    var simplemde = new SimpleMDE({element: $("#journal-content")[0]});
    $(document).ready(function() {
{% if "journal_content" in context %}
        var password = prompt("Enter encryption key");
        simplemde.value(sjcl.decrypt(password, simplemde.value()));
{% else %}
        var date = new Date();
        $("#journal-date").val(date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0))
{% endif %}
        return true;
    });
</script>
{% endblock %}