<!-- templates/add.html -->

{% extends "base.html" %}

{% block head %}
    <title>TRYG | Add a journal entry</title>
{% endblock %}

{% block content %}
<div class="column is-12">
    <h3 class="title">Add a Journal Entry</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/add">
            {% if "jid" in context %}
            <div class=field>
                <div class="control">
                    <input class="input" type="hidden" name="jid" id="jid" value="{{ context.jid }}">
                </div>
            </div>
            {% endif %}
            <div class="field">
                <div class="control">
                    <label for="journal-date">Journal Date</label>
                    <input class="input is-large" type="date" name="journal-date" id="journal-date" placeholder="Journal Date" {% if "journal_date" in context %} value="{{ context.journal_date }}" {% endif %}>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="journal-title" id="journal-title" placeholder="Journal Title" autofocus="" {% if "journal_title" in context %} value="{{ context.journal_title }}" {% endif %}>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <textarea class="textarea is-medium" name="journal-content" id="journal-content" placeholder="Jot down your thoughts..." rows=20>{% if "journal_content" in context %}{{ context.journal_content }}{% endif %}</textarea>
                </div>
            </div>
            <button class="button is-block is-info is-large">Add</button>
        </form>
    </div>
</div>
{% endblock %}