<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {%block head%}{% endblock%}
</head>

<body>
    <nav class="navbar is-light">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='images/tryg_logo.svg') }}" alt="TRYG" id="nav-logo">
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a href="{{ url_for('index') }}" class="navbar-item">
                    Home
                </a>
                
                <a href="{{ url_for('listing') }}" class="navbar-item">
                    View Journal Entries
                </a>
                <a href="{{ url_for('add') }}" class="navbar-item">
                    Add a Journal Entry
                </a>
                
                
                <a href="{{ url_for('login') }}" class="navbar-item">
                    Login
                </a>
                
                
                <a href="{{ url_for('logout') }}" class="navbar-item">
                    Logout
                </a>
                
            </div>
        </div>
    </nav>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>