<!-- templates/listing.html -->

{% extends "base.html" %}

{% block head %}
    <title>TRYG | An encrypted journal</title>
{% endblock %}

{% block content %}
<div class="column">
    <h3 class="title">Journal Entries</h3>
    <div class="box">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Journal Date</th>
                    <th>Journal Title</th>
                    <th>Created / Last Edited On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% if "entries" in context %}
            <tbody>
                {% for row in context.entries %}
                <tr>
                    <th>{{ row.journal_date }}</th>
                    <th>{{ row.journal_title }}</th>
                    <th>{{ row.date_created }}</th>
                    <th>
                        <a href="{{ url_for('view', jid=row.jid) }}" class="button is-normal is-outlined">View</a>
                        <a href="#" class="button is-normal is-outlined">Edit</a>
                        <a href="#" class="button is-normal is-outlined">Delete</a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}