<!-- templates/view.html -->

{% extends "base.html" %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sjcl.js') }}"></script>
    <title>TRYG | Add a journal entry</title>
{% endblock %}

{% block content %}
<h1 class="title">
    {{ context.journal_title }}
</h1>
<h2 class="subtitle">
    {{ context.journal_date }}
</h2>
<div class="column is-8 is-offset-2">
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <textarea class="textarea is-medium" id="journal-content" readonly rows=20>
            {{ context.journal_content }}
        </textarea>
    </div>
</div>
<a href="{{ url_for('listing') }}" class="button is-outlined">Go back</a>
<script type="text/javascript">
    $(document).ready(function() {
        var password = prompt("Enter encryption key");
        $("#journal-content").val(sjcl.decrypt(password, $("#journal-content").val()));
        return true;
    });
</script>
{% endblock %}