<!-- templates/view.html -->

{% extends "base.html" %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.8/sjcl.min.js" integrity="sha256-nIoG9XIePM1QNttI6KAGLYGNxc4DNinxxmOZW0/Z7uA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha256-Is0XNfNX8KF/70J2nv8Qe6BWyiXrtFxKfJBHoDgNAEM=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha256-6sZs7OGP0Uzcl7UDsLaNsy1K0KTZx1+6yEVrRJMn2IM=" crossorigin="anonymous"></script>
    <title>TRYG | Add a journal entry</title>
{% endblock %}

{% block content %}
<h1 class="title">
    {{ context.journal_title }}
</h1>
<h2 class="subtitle">
    {{ context.journal_date }}
</h2>
<div class="column is-8 is-offset-2">
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <textarea class="textarea is-medium" id="journal-content" readonly rows=20>
            {{ context.journal_content }}
        </textarea>
    </div>
</div>
<a href="{{ url_for('listing') }}" class="button is-outlined">Go back</a>
<script type="text/javascript">
    var simplemde = new SimpleMDE({element: $("#journal-content")[0], toolbar: false});
    simplemde.codemirror.options.readOnly = true;
    $(document).ready(function() {
        var password = prompt("Enter decryption key");
        simplemde.value(sjcl.decrypt(password, simplemde.value()));
        return true;
    });
</script>
{% endblock %}